<%- include('partials/header') %>

<div class="jumbotron text-center p-3">
  <div class="container">
    <i class="fas fa-key fa-3x d-inline-block"></i>
    <h1 class="d-inline-block display-5">You've Discovered My Secret!</h1>

    <div class="border border-dark rounded m-2 py-2 px-4">
      <% usersWithSecrets.forEach(user => { %>
      <% user.secret.forEach(sec => { %>
      <div class="border-bottom border-dark p-2">
        <p class="blockquote text-left mb-0">
          <i class="fas fa-key"></i>
          <%= sec.content %>
        </p>
        <footer class="blockquote-footer text-right">
          <cite title="Source Title">Anonymous</cite>
        </footer>
      </div>
      <%})%>
      <% }) %>
    </div>
    <hr class=" border border-dark w-25">
    <a class="btn btn-light border border-dark" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>